header.mainHeader {
	background: linear-gradient(to right, var(--primary) 0%,  var(--primary-light) 100%);
	height: 3rem;
	display: flex;
	justify-content: space-between;
}

header.mainHeader .mainLogo {
	height: 2rem;
	align-self: center;
	padding-left: 1rem;
}