@import './global-styles/reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i|Shadows+Into+Light+Two');

:root {
	--primary: #0051CC;
	--primary-light: #0096CC;
	--primary-medium: #0074C1;

	--secondary: #FF5028;
	--secondary-dark: #E62D00;

	--neutral: #d9d9d9;
	--neutral-light: #F3F3F3;
	--neutral-dark: #757575;

	--facebook: #3b5998;
	--google: #DB4437;
	--twitter: #38A1F3;

	--regular-font: 1rem/1.5rem 'Roboto', 'Arial', sans-serif;
	--display-font: 1.75rem/2rem 'Shadows Into Light Two', 'Arial', sans-serif;
}

a {
	text-decoration: none;
}